<!DOCTYPE html>
<html>
<head>
    <title>Add Server</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
</head>
<body>
    <h1>Add New Server</h1>
    <form action="/addServer" method="post">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id"><br><br>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>

        <label for="language">Language:</label>
        <input type="text" id="language" name="language"><br><br>

        <label for="framework">Framework:</label>
        <input type="text" id="framework" name="framework"><br><br>

        <input type="submit" value="Add Server">
    </form>
</body>
</html>
